/* Contient une partie du CSS ajouté spécialement pour RSSFeed
=============================================================== */
img {
    max-width: 550px;
}

/* Items listés */

.special-list-container {
    margin-top:30px;
}

.special-list-container li {
    font-size:18px;
}

.special-list-container li:hover {
    background-color: #f1f1f1;
}

.special-list-2 {
    font-size: 18px;
    padding: 30px 10px 10px 10px;
}

/* Radios\Checkbox */

.special-radio {
    margin-right: 15px;
    margin-left: 5px;
    font-size: 14px !important;
}

.special-radio input {
    margin-right:5px;
}

/* Titres de navigation */

.special-h5 {
    margin-top:0px;
    margin-left:5px;
}

.special-h5 a {
    padding-right:5px;
    padding-left:5px;
}

a.list-group-item {
    color:#1DC7EA;
}

/* Formulaires */
.special-form {
    display: inline;
}

/* Titres catégorie */
.special-title-group {
    margin-top:-35px;
    margin-left:10px;
    margin-bottom:20px;
}

.special-title-group p {
    font-size: 15px;
    font-weight: 400;
    color: #9A9A9A;
    margin-top: -10px;
}

/* Barre de boutons pour la catégorie */
.special-cat-bar {
    margin-bottom: 30px;
    margin-left: 10px;
}

.special-cat-bar button {
    margin-right:3px;
}

/* Badges personnalisés */

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #D6302D;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}

/* Hover sur les miniatures */
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.special-caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.55);
    width:100%;
    height:100%;
    padding:7% !important;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.special-caption h5 {
    font-size:18px;
    margin-bottom: 20px;
}

.special-caption p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(150, 146, 146);
}

.special-caption-button {
    margin-bottom: 0px 0px 30px;
    margin-top:10%;
}

/* Ajustement de la taille des éléments de la grille */
.special-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
.special-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}